<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
    <title>DrumSheetBuilder: <%= title %></title>
    <%- include(`${filePath}/../style.ejs`) %>
</head>
<body class="">
<span class="preheader">DrumSheet<b>Builder</b>.</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="logo">
                                        <img src="<%= assetsUrl %>/email-logo.png" alt="DrumSheetBuilder">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Hi, <b><%= user.email %></b>!</p>
                                        <p>By clicking the button below, you will be able to restore your password at our site.</p>
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                            <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center">
                                                        <tbody>
                                                        <tr>
                                                            <td> <a href="<%= recoveryLink %>" target="_blank">Reset your password</a> </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p>If you didn't try to restore your password, ignore this e-mail. You will be able to sign in as usually.</p>
                                        <p>Thanks for using <a href="<%= baseUrl %>" target="_blank">DrumSheet<b>Builder</b></a>!</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div class="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-block">
                                <span class="apple-link">
                                    DrumSheet<b>Builder</b> <%= version %>
                                </span>
                                <br>
                                <small>By <a href="https://bitbucket.org/djamsy/" target="_blank">djamsy</a>.</small>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
