<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include(style) %>
</head>

<%
// Lowen the instrument size a bit.
instrumentSize -= 1
// Init the cell style.
let cellStyle = `height: ${instrumentSize}px; width: ${instrumentSize}px;`
// Calculate font size responsively.
let fontSize = instrumentSize > 15 ? 11 + 'px' : (instrumentSize - 4) + 'px'
%>

<body>
    <div class="Container">

        <div class="Section Title">
            <%= title %>
            <div class="Watermark">made with <a href="https://drumsheetbuilder.com">drumsheetbuilder.com</a></div>
        </div>

        <div class="Section Attributes">
            <div>
                <span class="Label">BPM:</span><span class="BPM"><%= bpm %> bpm</span>
            </div>
            <div>
                <span class="Label">Time signature:</span><span class="BeatsBars"><%= timeSignature %></span>
            </div>
            <div>
                <span class="Label">Author:</span><span class="Email"><%= author %></span>
            </div>
        </div>

        <div class="Section Lines">
            <% // Loop through every line.
            for(let i=0; i<lines.length; i++) {
                // Init the line object.
                let line = lines[i]
                // If line is a separator.
                if (line.type === lineTypes.separator) { %>
                    <div class="Separator">
                        <%= line.content %>
                    </div>
                <%
                } else if(line.type === lineTypes.line) {
                    let shouldHaveGreatPaddingTop = (i === 0 || (i !== 0 && lines[i - 1].type === lineTypes.separator))
                    let shouldHaveGreatPaddingBottom = (i === (lines.length - 1) || (i !== (lines.length - 1) && lines[i + 1].type === lineTypes.separator))
                %>
                    <div class="Line" style="background-color: <%= line.bgColor %>;<%= shouldHaveGreatPaddingTop ? 'padding-top: 30px;': '' %>;<%= shouldHaveGreatPaddingBottom ? 'padding-bottom: 30px;': '' %>">
                        <% // Get the line content.
                        let lineContent = line.content
                        // Get instrument names.
                        let instrumentNames = Object.keys(orderInstruments(instrumentOrder, lineContent[0])) %>
                        <div class="Legend">
                            <table class="InstrumentsTable">
                                <tbody>
                                    <%
                                    for(let k=0; k<instrumentNames.length; k++) { %>
                                        <tr>
                                            <td class="LegendInstrument" style="font-size: <%= fontSize %>; height: <%= instrumentSize %>px">
                                                <%= instrumentNames[k] %>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <%
                        for(let j=0; j<lineContent.length; j++) {
                            // Init the bar object.
                            let bar = orderInstruments(instrumentOrder, lineContent[j]) %>
                            <table class="Bar <%= j === lineContent.length - 1 ? "no-border" : "" %>">
                                <tbody>
                                    <%
                                    for(let instrument in bar) {
                                        if(bar.hasOwnProperty(instrument)) { %>
                                            <tr>
                                                <%
                                                for(let k=0; k<bar[instrument].length; k++) {
                                                    // Get the instrument from constants.
                                                    let selectedInstrument = _.find(instruments, { label: instrument })
                                                    // Init the instrument style.
                                                    let instrumentStyle = `border-left: ${getCellBorder(k, timeSignature, showGrid)};`
                                                    instrumentStyle += `height: ${instrumentSize}px !important;`
                                                    instrumentStyle += `width: ${instrumentSize}px !important;`
                                                    // If the instrument is filled.
                                                    if (bar[instrument][k] !== 0) {
                                                        // Get the selected type of hit.
                                                        let hitLabel = selectedInstrument.hits[bar[instrument][k] - 1].label
                                                        // Get the instrument style.
                                                        instrumentStyle += `background-image: url(${icons[instrument][hitLabel][instrumentIcons]});`
                                                        instrumentStyle += `background-size: ${instrumentSize - 4}px;`
                                                    }
                                                %>
                                                    <td style="<%= cellStyle %>">
                                                        <div class="Instrument" style="<%= instrumentStyle %>"></div>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }
                                    } %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                <% }
            } %>
        </div>
    </div>
</body>
</html>
